    .item {
        width: 95%;
        height: auto;
        float: left;
        margin-left: 20px;
        margin-top: 50px;
        overflow-y: auto;
    }
    .item-left {
        width: 60%;
        height: auto;
        float: left;
        border: 1px solid #ccc;
    }
    .item-right {
        width: 37%;
        max-height: 430px;
        float: right;
        text-align: left;
        overflow-y: auto;
        overflow-x: auto;
    }
    .item-top {
        width: 100%;
        height: 30px;
        background: cadetblue;
        color: #fff;
    }
    .item-top span {
        display: block;
        height: 30px;
        line-height: 30px;
    }
    .item-top .title {
        font-weight: bold;
        font-size: 14px;
        float: left;
        margin-left: 20px;
    }
    .item-top .id {
        font-size: 14px;
        font-weight: bold;
        float: right;
        margin-right: 10px;
    }
    .item-top .tip1 {
        float: right;
        margin-right: 20px;
        cursor: pointer;
    }
    .item-top .tip2 {
        float: right;
        margin-right: 10px;
        cursor: pointer;
    }
    .item-center {
        width: 100%;
        height: auto;
    }
    .item-center div {
        width: 100%;
        height: 100px;
    }
    .item-center div label {
        display: block;
        float: left;
        margin-left: 2%;
        height: 100px;
        line-height: 100px;
        width: 15%;
        text-align: center;
    }
    .item-center div textarea {
        float: left;
        margin-top: 18px;
        font-size: 13px;
        font-family: "Microsoft YaHei UI";
        width: 73%;
    }
    .item-center div span {
        display: block;
        height: 100px;
        line-height: 100px;
        width: 5%;
        text-align: center;
        float: right;
        font-size: 20px;
        margin-right: 2%;
        cursor: pointer;
    }
    .item-center div select {
        float: left;
        margin-left: 25px;
        height: 40px;
        margin-top: 30px;
    }
    .hide-text {
        display: none;
    }
    .error {
        border: 2px solid red;
    }